

:root {
   
    --text: #acacac;
    --text-active: #efefef;
    --text-gray: rgba(84, 84, 84, 0.80);
    --sec-color: #1B1DCD;
}

  .body {
    background-color:#171717;
    overflow-x: hidden;
  }
  
    html {
    scroll-behavior: smooth;
  }

  .nav-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav-top{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
  }
  .nav-buttons {
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    color: var(--text);
  }
  .nav-buttons .button {
    text-decoration: none;
    font: 540 20px Poppins, sans-serif;
    color: var(--text);
  }
  .nav-buttons .button:hover {
    text-decoration: none;
    font: 540 20px Poppins, sans-serif;
    color: var(--text-active);
  }

  .story-telling-line{
    position: absolute;
    top: 370px;
    left: 120px;
    border-left: solid 10px var(--sec-color);
    width: 10px;
    height: 2190px;
    z-index: -1;
  }
  .diamond {
    position: absolute;
    top: 320px;
    left: 100px;
    z-index: -1;

    aspect-ratio: 0.93;
    object-fit: contain;
    object-position: center;
    width: 50px;
    overflow: hidden;
    max-width: 100%;
  }

  .arow {
    position: absolute;
    top: 2550px;
    left: 82px;
    z-index: 1;

    aspect-ratio: 0.93;
    object-fit: contain;
    object-position: center;
    width: 230px;
    overflow: hidden;
    max-width: 100%;
  }
/* 
  .voiled-text-big-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .voiled-text-big{
    margin:8% 0 8% 0;
  } */



    .img {
      aspect-ratio: 0.72;
      object-fit: contain;
      object-position: center;
      width: 65px;
      overflow: hidden;
      align-self: start;
      max-width: 100%;
    }

    .voiled-txt-icon {
      aspect-ratio: 8.25;
      object-fit: contain;
      object-position: center;
      width: 300px;
      overflow: hidden;
      align-self: center;
    }

   
    .hook-section-container{
        width: 90%;
        margin: 10% 0 0 200px;
        display: flex;
        justify-content: space-between;

    }
    .hook-text {
        width: fit-content;
        color: #ededed;
        font: 700 64px/79px Poppins, sans-serif;
    }
    .hook-text-shadow{
        position: relative;
        top: -62px;
        left: 5px;
        z-index: -1;
        width: 435px;
        height: 35px;
        background: linear-gradient(90deg, rgba(27, 29, 205, 0.50) 0%, rgba(3, 4, 94, 0.50) 100%);
    }

    .hook-desc {
        /* color: rgba(84, 84, 84, 0.6); */
        color: var(--text-gray);
        width: 837px;
        font: 500 21px Poppins, sans-serif;
      }

      .hook-img-container {
        margin-top: -70px;
        width: 800px;
        height: 530px;
        overflow: hidden;
      }
      .hook-img{
        width: 800px; 
        margin-top: -165px;
        overflow: hidden;
      }

      .hook-buttons {
        margin-top: 10px;
        color: #FFF;
        font-family: Poppins;
        line-height: normal;

      }
        .hook-buttons button:nth-child(1) {
            background-color: var(--sec-color);
            border-radius: 10px;
            color: var(--text);
            border-color: transparent;
            font-weight: bold;
            font: 600 21px Poppins, sans-serif;
            padding: 10px 25px 10px 25px;
            transition: color 0.2s ease-in-out;
        }
        .hook-buttons button:nth-child(1):hover {
            color: var(--text-active);
        }

        .hook-buttons button:nth-child(2) {
            background-color: transparent;
            /* border: solid 5px var(--sec-color); */
            box-shadow: inset 0 0 0 2px var(--text);
            border-radius: 10px;
            color: var(--text);
            font-weight: bold;
            font: 600 21px Poppins, sans-serif;
            padding: 10px 25px 10px 25px;
            transition: color 0.1s ease-in-out, box-shadow 0.2s ease-in-out;
        }
        .hook-buttons button:nth-child(2):hover {
            color: var(--text-active);
            box-shadow: inset 0 0 0 2px var(--text-active);
        }

























      




        .about-us-container {
            width: 90%;
            background-color: #1c1c1c;
            border: 3px solid #212121;
            border-radius: 5px;

            align-self: stretch;
            display: flex;
            padding-bottom: 7px;
            flex-direction: column;
            margin: 111px 0 0 60px;
            z-index: 10;
          }
         
          .about-h {
            padding: 10px;
            color: #939393;
            white-space: nowrap;
            border-bottom: 3px solid #212121;
            background-color: #191919;
            align-self: stretch;
            justify-content: center;
            align-items: start;
            font: 700 40px Poppins, sans-serif;
          }
         


          .v-org-job-mission {
            align-self: center;
            margin-top: 51px;
            width: 100%;
            max-width: 1419px;
            background-color: #1B1DCD;
            display: flex;
            flex-direction: row;

          }
         

      
          @media (max-width: 1360px) {
            .div-28 {
              flex-direction: column;
              align-items: stretch;
              gap: 0px;
            }
          }
          .column {
            display: flex;
            flex-direction: column;
            line-height: normal;
            width: 33%;
            margin-left: 0px;
          }
          @media (max-width: 1360px) {
            .column {
              width: 100%;
            }
          }
          .div-29 {
            display: flex;
            flex-grow: 1;
            flex-direction: column;
            align-items: center;
          }
          @media (max-width: 1360px) {
            .div-29 {
              margin-top: 40px;
            }
          }
          .div-30 {
            color: #939393;
            white-space: nowrap;
            font: 600 24px Poppins, sans-serif;
          }
          @media (max-width: 1360px) {
            .div-30 {
              white-space: initial;
            }
          }
          .div-31 {
            color: #5c5c5c;
            text-align: center;
            align-self: stretch;
            font: 400 20px/30px Poppins, sans-serif;
          }
          .column-2 {
            display: flex;
            flex-direction: column;
            line-height: normal;
            width: 33%;
            margin-left: 20px;
          }
          @media (max-width: 1360px) {
            .column-2 {
              width: 100%;
            }
          }
          .div-32 {
            display: flex;
            flex-grow: 1;
            flex-direction: column;
            align-items: center;
          }
          @media (max-width: 1360px) {
            .div-32 {
              margin-top: 40px;
            }
          }
          .div-33 {
            color: #939393;
            white-space: nowrap;
            font: 600 24px Poppins, sans-serif;
          }
          @media (max-width: 1360px) {
            .div-33 {
              white-space: initial;
            }
          }
          .div-34 {
            color: #5c5c5c;
            text-align: center;
            align-self: stretch;
            font: 400 20px/30px Poppins, sans-serif;
          }
          .column-3 {
            display: flex;
            flex-direction: column;
            line-height: normal;
            width: 35%;
            margin-left: 20px;
          }
          @media (max-width: 1360px) {
            .column-3 {
              width: 100%;
            }
          }
          .div-35 {
            display: flex;
            flex-grow: 1;
            flex-direction: column;
            align-items: center;
          }
          @media (max-width: 1360px) {
            .div-35 {
              max-width: 100%;
              margin-top: 40px;
            }
          }
          .div-36 {
            color: #939393;
            white-space: nowrap;
            font: 600 24px Poppins, sans-serif;
          }
          @media (max-width: 1360px) {
            .div-36 {
              white-space: initial;
            }
          }
          .div-37 {
            color: #5c5c5c;
            text-align: center;
            align-self: stretch;
            font: 400 20px/30px Poppins, sans-serif;
          }
        
          .div-38 {
            color: var(--text-active);
            text-align: center;
            font-feature-settings: "clig" off, "liga" off;
            align-self: center;
            margin: 120px 0 5px 0;
            font: 700 28px/45px Poppins, sans-serif;
          }
          .div-39 {
            color: rgb(166, 166, 166);
            text-align: center;
            font-feature-settings: "clig" off, "liga" off;
            align-self: center;
            margin: -5px 0 40px 0 ;
            max-width: 930px;
            font: 500 16px/26px Poppins, sans-serif;
          }


    .div-40 {
    

      width: 90%;
            background-color: #1c1c1c;
            border: 3px solid #212121;
            border-radius: 5px;

            align-self: stretch;
            display: flex;
            padding-bottom: 7px;
            flex-direction: column;
            margin: 111px 0 0 60px;
            z-index: 10;
    }
   

    .div-41 {
      background-color: #191919;
      border-bottom: 3px solid #212121;
      display: flex;
      align-items: start;
      justify-content: space-between;
      gap: 20px;
    }

    .div-42 {
      color: #939393;
      padding: 10px;
      font: 700 40px Poppins, sans-serif;
    }
    .div-43 {
      color: #939393;
      align-self: stretch;
      width: 244px;
      font: 700 40px Poppins, sans-serif;
    }
    .div-44 {
      align-self: center;
      margin-top: 34px;
      width: 100%;
      max-width: 1454px;
    }
    @media (max-width: 1360px) {
      .div-44 {
        max-width: 100%;
      }
    }
    .div-45 {
      gap: 20px;
      display: flex;
    }
































    .review-area {
    
        width: 90%;
              background-color: #1c1c1c;
              border: 3px solid #212121;
              border-radius: 5px;
  
              align-self: stretch;
              display: flex;
              padding-bottom: 7px;
              flex-direction: column;
              margin: 111px 0 0 60px;
              z-index: 10;
      }
     
  
      .review-border {
        background-color: #191919;
        border-bottom: 3px solid #212121;
        display: flex;
        align-items: start;
        justify-content: space-between;
        gap: 20px;
      }
  
      .review-h {
        color: #939393;
        padding: 10px;
        font: 700 40px Poppins, sans-serif;
      }
      .review-container {
        /* background-color: red; */
        margin: 0 0 20px 6%;
        width: 95%;
        height: 400px;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        gap: 40px;

        overflow: hidden;
      }
        
        
        .review-card {
            width: 878px;
            height: 232px;
            background-color: #191919;
            border: 3px solid #212121;
            border-radius: 5px;
            display: grid;
            grid-template-areas: 
              's s s s'
              'gap icon name gap2'
              'gap3 gap4 mess mess';
            grid-template-columns: 50px 100px 1fr 1fr;
            grid-template-rows: 20px 100px 1fr;
          }
          
          .pfp-container{
            grid-area: icon;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .review-icon {
            
            width: 90%;
            border-radius: 50%;
            background-color: var(--sec-color);
          }
          .frame{
            grid-area: icon;

            display: flex;
            align-items: center;
            justify-content: center;
            border: 5px solid var(--sec-color);
            border-radius: 50%;
            width: 100px;
            height: 100px;
          }

          .reviewer-name-star{
            grid-area: name;
            margin: 15px 0 0 10px;
           
          }
          .reviewer-name {
            color: #939393;
            font: 700 40px Poppins, sans-serif;
            font-size: 30px;
            font-weight: 600;
            line-height: 30px;
          }
          .reviewer-star{
            width: 30px;
          }

          .reviewer-message {
            grid-area: mess; 
            display: flex;
            max-width:96% ;
            margin: 3px 0 32px 10px;
            color: var(--text);
            overflow: hidden;

            /* Body/M */
            font: 300 18px Poppins, sans-serif;
          }


















          .sign-up-area {
            align-self: start;
            display: flex;
            align-items: end;
            gap: 3px;
            margin: 127px 0 0 290px;
            
          }
          
          .sign-up {
            align-self: stretch;
            display: flex;
            flex-grow: 1;
            flex-basis: 0%;
            flex-direction: column;
          }
          
          .sign-up-h {
            color: var(--text-active);
            margin-left: -20px;
            font: 700 70px Poppins, sans-serif;
          }

          
          .sign-up-desc {
            color: var(--text);
            font: 500 18px/32px Poppins, sans-serif;
            margin-right: 400px;
          }
          

          .sign-up-button-area {
            display: flex;
            flex-grow: 1;
            flex-direction: column;
            margin-bottom: 100px;
          }
         
          .sign-up-form {
            display: flex;
            align-items: center;
          }
            .sign-up-form input{
              background-color: rgb(255, 255, 255);
              width: 420px;
              height: 60px;
              border: white 0px transparent;
              border-radius: 5px 0 0px 5px;

              font: 700 25px Poppins, sans-serif;
              padding-left: 20px;       
              color: #888;     

            }
            .sign-up-form input,
            .sign-up-form select,
            .sign-up-form textarea,
            .sign-up-form button {
              outline: none;
              box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3); 
            }




.sign-up-form .button,
.sign-up-form .join-dc {
  width: 280px;
  height: 60px;

  background-color: var(--sec-color);
  border: none;
  border-radius: 5px;
  font: 700 25px Poppins, sans-serif;
  color: rgb(228, 228, 228);
  padding: 10px 20px; 
  text-align: center;
  transition: box-shadow 0.3s ease, color 0.3s ease; 
  box-shadow: inset 0px 4px 6px rgba(0, 0, 0, 0.1); 
  margin-left: -10px;
  margin-top: -0.1px; 
}

.sign-up-form .join-dc {
  margin-left: 40px; 
  width: auto;
}

.sign-up-form .button:hover,
.sign-up-form .join-dc:hover {
  color: white; 
  box-shadow: inset 0px 2px 4px rgba(255, 255, 255, 0.3); /* Inner shadow on hover */
}

.footer{
  background-color: #1C1C1C;
  width: 100%;
  height: 250px;
}